<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid navbar">
    <a class="navbar-brand" href="/home">
      <img src="../../../assets/img_3.png" alt="Bootstrap" class="img">
      PORTAL DO ALUNO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Escolas-->
<!--          </a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" href="">Adicionar nova escola</a></li>-->
<!--            <li><a class="dropdown-item" href="">Visualizar Todas escolas</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Alunos-->
<!--          </a>-->
<!--          <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item">Adicionar novo estudante</a></li>-->
<!--            <li><a class="dropdown-item" href="">Visualizar Todos estudantes</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Procurar escola..." aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Procurar</button>-->
<!--      </form>-->
<!--    </div>-->
  </div>
</nav>


