<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid navbar">
    <a class="navbar-brand" href="/home">
      <img src="../../../assets/Users-Student-icon.png" alt="Bootstrap" class="img">
      PORTAL DO ALUNO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Mais Informações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-schools">Sobre Escolas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Educação no País</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


