.card{
  display: flex;
  //justify-content: center;
  //height: 50%;
  padding-right: 10%;
  padding-left: 10%;
  width: 400px;
  height: 270px;
  //margin-bottom: 20%;
}
.btn{
  margin: 10px !important;
}
