
<table class="table table-striped">
  <caption>Lista de Alunos</caption>
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nome</th>
    <th scope="col">Escola</th>
    <th scope="col">Cidade</th>
    <th scope="col">Média</th>
    <th scope="col">Acções</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let students of listStudents ">
    <td>{{students.id}}</td>
    <td>{{students.name}}</td>
    <td>{{students.school}}</td>
    <td>{{students.city}}</td>
    <td>{{students.averageMark}}</td>
    <th><span  type="button" class="material-icons edit"
               (click)="onEdit(students)">
      edit
    </span>
      <span type="button" class="material-icons delete "  (click)="onDelete(students)">
        delete
      </span></th>
  </tr>
  </tbody>
</table>

<div class="add-icon" (click)="adicionarItem()">
<span class="material-icons">add</span>
</div>

