.table{
  width: 100%;
  max-height: 100px;
  overflow: auto;
  left: 20px;
}

.add-icon {
  position: fixed;
  bottom: 60px;
  left: 20px;
  cursor: pointer;
  background-color: #0a4275; /* Cor de fundo do ícone de adição */
  color: #fff; /* Cor do ícone */
  border-radius: 50%; /* Bordas arredondadas para um visual de botão */
  padding: 10px;
  font-size: 24px; /* Tamanho do ícone */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
}
