<div class="card" >
    <div>
        <h2 *ngIf="subject">Actualizar Disciplina</h2>
        <h2 *ngIf="!subject">Cadastrar Disciplina</h2>

    </div>
    <form class="row-cols-1" [formGroup]="formSubject">
        <div class="col-md-12">
            <label class="form-label" >Nome</label>
            <input type="text" class="form-control" placeholder="Português..."  formControlName="name">
        </div>
        <div class="col-12">
            <!--      <button type="submit" class="btn btn-primary" (click)="create()"> criar</button>-->
            <button type="submit"  [disabled]="formSubject.invalid" class="btn btn-primary botao" (click)="create()">
                <span *ngIf="!subject" >Criar</span>
                <span *ngIf="subject" >Actualizar</span>
            </button>
            <button type="submit" class="btn btn-danger" > cancelar</button>
        </div>
    </form>
</div>

