<div class="gradient-custom"
     style="width: 100% !important; height: 85%;" >
  <div class="d-flex justify-content-center row container" style="padding-top: 140px">
    <div class="card1 col-md-12 col-lg-3 col-sm-12" style="width: 15rem;">
      <div class="card-header">
        <a routerLink="/list-all-schools">
          <img class="card-img-top img" src="../../../assets/img_4.png" alt="Card image cap">
        </a>
      </div>

      <div class="card-footer">
        <h2 class="card-title" style="color: #eeeeee; text-align: center">Escolas</h2>
      </div>
    </div>

    <div class="card1 col-md-12 col-lg-3 col-sm-12 separator" style="width: 15rem;">
      <div class="card-header">
        <a routerLink="/list-all-cities">
          <img class="card-img-top img" src="../../../assets/cidadesss-removebg-preview.png" alt="Card image cap">
        </a>
      </div>
      <div class="card-footer">
        <h2 class="card-title" style="color: #eeeeee; text-align: center">Cidades</h2>
      </div>
    </div>

    <div class="card1 col-md-12 col-lg-3 col-sm-12" style="width: 15rem;">
      <div class="card-header">
        <a routerLink="/read-subject">
          <img class="card-img-top img" src="../../../assets/livros.png" alt="Card image cap">
        </a>
      </div>
      <div class="card-footer">
        <h2 class="card-title" style="color: #eeeeee; text-align: center" >Disciplinas</h2>
      </div>
    </div>

    <div class="card1 col-md-12 col-lg-3 col-sm-12" style="width: 15rem;">
      <div class="card-header">
        <a routerLink="/list-all-students">
          <img class="card-img-top img"  src="../../../assets/alunoss-removebg-preview.png" alt="Card image cap">
        </a>
      </div>

      <div class="card-footer">
        <h2 class="card-title" style="color: #eeeeee; text-align: center">Alunos</h2>
      </div>
    </div>
  </div>

</div>

