<div class="">
  <h2 class="h2" style="margin-left: 5%;">Escolha uma Cidade</h2>
    <div class="cardGroup">
        <div class="card" style="width: 200px; margin-left: 15%" *ngFor="let city of listCities">
          <img src="../../../assets/ponteiro.png" class="card-img-top" alt="card top img"
               style="" routerLink="/list-by-city-name/{{city.name}}">
          <div class="card-body">
            <a routerLink="/list-by-city-name/{{city.name}}">
              <h3 class="card-title">{{city.name}}</h3>
            </a>
            <small>Number of schools:  </small>
            <small>{{city.numberOfSchools}}</small>
            <small style="padding-left: 120px">
              <span  type="button" class="material-icons edit" style=" font-size: 20px; color: cornflowerblue;" (click)="edit(city)">
      edit
    </span>
              <span type="button" class="material-icons delete " style=" font-size: 20px; color: red" (click)="delete(city)" >
        delete
      </span>
            </small>
          </div>
        </div>
    </div>
    <div class="add-icon"  (click)="addItem()">
        <span class="material-icons">add</span>
    </div>
</div>

