.add-icon {
  position: fixed;
  bottom: 60px;
  left: 20px;
  cursor: pointer;
  background-color: #241862; /* Cor de fundo do ícone de adição */
  color: #fff; /* Cor do ícone */
  border-radius: 50%; /* Bordas arredondadas para um visual de botão */
  padding: 10px;
  font-size: 24px; /* Tamanho do ícone */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para efeito de elevação */
}


.cardGroup{
  display:grid;
  max-width: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 60px;
}
.card{
  background-color: #e6ebef;
}



.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
}






